#delegar {
    position: fixed;
    right: 1%;
    bottom: 2%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    font-size: 65%;
}

body {
    margin-bottom: 20px;
}

img {
  width: 70%;
}

@media screen and (max-width: 1800px) {
  #delegar {
    position:fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    font-size: 80%;
    border-radius: 0;
    right: 0;
}
 
 img {
  width: 10%;
}
}


