#delegar {
    position:fixed;
    right: 1%;
    bottom: 1%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    font-size: 65%;
}

@media screen and (max-width: 600px) {
  #delegar {
    position:fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    font-size: 65%;
    border-radius: 0;
}
}
